body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/3682838/pexels-photo-3682838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;

  position: relative;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: auto;
  padding: 3px 0;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: rgb(148, 9, 9);
}
