<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments :: head(title='Menu')"></th:block>
</head>

<body>
<th:block th:replace="fragments :: navbar"></th:block>

<div class="container d-flex justify-content-center align-items-center flex-column mt-5">
    <div class="alert alert-danger w-100" role="alert"  th:text="${message}" th:if="${message != null}"></div>

    <h2 class="my-5"> Menu </h2>
    <!--    <div class="d-flex flex-row">-->
    <!--        <i class="fa-solid fa-pizza-slice mx-1"></i>-->
    <!--        <i class="fa-solid fa-pizza-slice mx-1"></i>-->
    <!--        <i class="fa-solid fa-pizza-slice mx-1"></i>-->
    <!--    </div>-->

<!--    <div th:if="${message}" class="mt-4">-->
<!--        <h3 th:text="${message}"></h3>-->
<!--    </div>-->

    <!-- mostro tabella solo se menu ha risultati-->
    <table class="table " th:if="${menu.size() > 0}">
        <thead>
        <tr>
            <th scope="col">Pizzas </i></th>
            <th scope="col">Ingredients</th>
            <th scope="col">Price</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="pizza : ${menu}">
            <td th:text="${pizza.name}" class="align-middle"></td>
            <td th:text="${pizza.description}" class="align-middle"></td>
            <td th:text="&euro; + ' ' + ${pizza.price}" class="align-middle"></td>
            <td class="align-middle text-center">
                <a th:href="@{|/pizzas/${pizza.id}|}" class="me-3"><i class="fa-solid fa-pizza-slice text-warning"></i></a>
                <a th:href="@{|/pizzas/edit/${pizza.id}|}" class="mx-2" sec:authorize="hasAuthority('ADMIN')"><i class="fa-solid fa-pen-to-square"></i></a>

                <!-- gestisco il fatto che non si possano cancellare quelle pizze che hanno delle offerte in corso-->
                <form
                        th:action="@{|/pizzas/delete/${pizza.id}|}"
                        method="post"
                        th:if="${pizza.specialDeals.size() == 0}"
                        sec:authorize="hasAuthority('ADMIN')"
                >
                    <button type="submit" class="btn text-danger"><i class="fa-solid fa-trash-can"></i></button>
                </form>
                <button th:unless="${pizza.specialDeals.size() == 0}" class="btn text-danger btn-outline-light" disabled><i class="fa-solid fa-ban"></i></button>
            </td>
        </tr>
        </tbody>
    </table>

    <!--se lista vuota mostro messaggio-->
    <div class="alert alert-info w-100 mt-2" th:unless="${menu.size() > 0}">
        <h4>No results for that pizza, sorry <i class="fa-regular fa-face-frown"></i></h4>
    </div>

    <div class="w-100 mt-5 d-flex justify-content-between">
        <div>
            <a class="btn btn-success" th:href="@{/pizzas/create}" sec:authorize="hasAuthority('ADMIN')">New Pizza</a>
        </div>

        <div>
            <form class="d-flex" method="GET" th:action="@{/pizzas}">
                <input class="form-control me-2" type="search" placeholder="Search by name" name="keyword" th:value="${searchInput}">
                <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>

</div>
</body>
</html>